.feed-div{
    width: 100%;
    max-width: 500px;
    position: relative;
    justify-content: space-around;
    margin: 15px auto;
    padding: 0 30px;    
    align-items: center;
}


.feed-div ul{
    margin-top: 25px;
    justify-content: space-around;
    list-style: none;
    display: grid;
}


.feed-div ul li{
    background-color: white;
    line-height: normal;
    display: inline;
    position: relative;
    justify-content: space-between;
    margin: 20px 0 5px 0;
    border-radius: 8px;

    padding: 10px;
    position: relative;
}

.feed-div ul li .footer{
    margin-left: 370px;
}

.feed-div ul li .title, p{
    text-align: left;
    font: optional;
    margin-bottom: 5px;
}

