#name{
    top: 25px;
}

#user{
    top: 175px;
}

#email{
    top: 100px;
}

#password{
    top: 250px;
}

#confirmPassword{
    top: 325px;
}

form input:focus + label, input:not(:placeholder-shown) + label{
    transform: translateY(-30px) scale(0.6);
}

form input::placeholder{
    color: transparent;
}

.button{
    align-self: center;
}