.communityBody{
    display: grid;
}


header {
    background-color: lightpink;
    min-height: 100px;
    height: auto;
    display: flex;
    align-items: center;
}

header div{
    display: flex;
    margin-left: 20%;
}
button{
    margin-left: 20px;
    width: 80px;
    height: 35px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #F33850;
}
.postForm button{
    margin-left: 85%;
}

.postForm{
    background-color: whitesmoke;
    height: auto;
    padding: 5px;
    max-width: 40%;
    margin-top: 20px;
    margin-left: 100px;
    display: block;
}

.postForm input{
    width: 100%;
}
.postForm textarea{
    width: 100%;
    margin-top: 5px;
    background-color: transparent;
}

.postForm .button{
    height: 3%;
    margin-left: 80%;
}

.posts{
    max-width: 40%;
    width: auto;
    margin-left: 100px;
    margin-top: 20px;
    padding: 5px;
}
.post{
    margin-top: 5px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;

}
.post p{
    margin-top: 5px;
}
.post footer{
    font-size: small;
    text-align: end;
}
