.errorBox{
    margin-top: 50px;
}

.profile{
    margin-top: 5%;
    margin-left: 32%;
    background-color:whitesmoke;
    max-width: 40%;
    padding: 15px;
}

.profile h3{
    color: rgb(148, 143, 143);
}

.created{
    margin-top: 2%;
}

.avatarIcon{
    border-radius: 100px;
}