.comment{

    height: auto;
    min-height: 70px;
    padding: 4px;
    margin-top: 5px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #dddcdc;

}
.commentHeader{
    height: auto;
    font-weight: bold;
    padding: 3px 3px;
    display: flex;
    justify-content: space-between;
}

.commentHeader button{
    width: 30px;
    height: 30px;
}

.commentHeader span{
    margin-top: -2;
    margin-left: 5px;
}
.comment p{
    margin-top: 5px;
}

.delete{
    width: 20px;
    height: 20px;
}

