.communityInfo{
    background-color: white;
    padding: 15px;
    margin-top: 5%;
    height: 120px;
    min-width: 200px;
    margin-right: 8vw;
}

.date{
    font-weight: bold;
    margin-top: 10px;
}
.date span{
    size: 2px;
    margin-left: 2px;
}